<div class="card">
    <img class="card__image" src="assets/image-equilibrium.jpg">
    <h3 class="card__title">Equilibrium #3429</h3>
    <p class="card__text">Our Equilibrium collection promotes balance and calm.</p>
    <div class="card__info">
        <div class="card__info__price">
            <img class="card__info__price__image" src="assets/icon-ethereum.svg">
            <p class="card__info__price__text">0.041 ETH</p>
        </div>
        <div class="card__info__time">
            <img class="card__info__time__image" src="assets/icon-clock.svg">
            <p class="card__info__time__text">3 days left</p>
        </div>
    </div>
    <div class="card__line"></div>
    <div class="card__creator">
        <img class="card__creator__avatar" src="assets/image-avatar.png">
        <p class="card__creator__text">Creation of <strong>Jules Wyvern</strong></p>
    </div>
  </div>